@page "/home"
@page "/"
@inject IJSRuntime JSRuntime

<!-- header -->
<header id="header" class="header py-28 text-center md:pt-36 lg:text-left xl:pt-44 xl:pb-32">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div class="mb-16 lg:mt-32 xl:mt-40 xl:mr-12">
            <h1 class="h1-large mb-5">Calculate your affordability with our easy-to-use tool</h1>
            <p class="p-large mb-8">Find Out How Much You Need to Earn to Afford Your Dream Car or House.<br /> You can also have a life chat with our expert.</p>
            <a class="btn-solid-lg" href="#your-link"><i class="fab fa-google-wallet"></i>Get Started</a>
        </div>
        <div class="xl:text-right">
            <img class="inline" src="images/House_Car.jpg" alt="alternative" />
        </div>
    </div>
</header>
<!-- end of header -->
<!-- Introduction -->
<div class="pt-4 pb-14 text-center">
    <div class="container px-4 sm:px-8 xl:px-4">
        <p class="mb-4 text-gray-800 text-3xl leading-10 lg:max-w-5xl lg:mx-auto">Secure a progressive future for your your family and your livelihood, because the future is so bright to contemplate on it outcome which is huge. Relax and calculate for the future...</p>
    </div> <!-- end of container -->
</div>
<!-- end of introduction -->
<!-- Features -->
<div id="features" class="cards-1">
    <div class="container px-4 sm:px-8 xl:px-4">

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="images/features-icon-4.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Easy Income and Expense Inputs</h5>
                <p class="mb-4">Works smoothly even on calculation of your income and expenses to better your future.</p>
            </div>
        </div>
        <!-- end of card -->
        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="images/features-icon-2.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Easy Income and Expense Inputs</h5>
                <p class="mb-4">Works smoothly even on calculation of your income and expenses to better your future.</p>
            </div>
        </div>
        <!-- end of card -->
        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="images/features-icon-3.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Personalized Savings Goals</h5>
                <p class="mb-4">Parioritize your work to benefit you for the coming days.</p>
            </div>
        </div>
        <!-- end of card -->

    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of features -->
<!-- Details 1 -->
<div id="details" class="pt-12 pb-16 lg:pt-16">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
        <div class="lg:col-span-5">
            <div class="mb-16 lg:mb-0 xl:mt-16">
                <h2 class="mb-6">Results driven ground breaking Calculation</h2>
                <p class="mb-4">Based on our team's extensive experience in developing line of business applications and constructive customer feedback we reached a new level of revenue.</p>
                <p class="mb-4">We enjoy helping small and medium sized tech businesses take a shot at established Fortune 500 companies</p>
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-7">
            <div class="xl:ml-14">
                <img class="inline" src="images/desola-lanre-ologun-kwzWjTnDPLk-unsplash.jpg" alt="alternative" />
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of container -->
</div>
<!-- end of details 1 -->
<!-- Details 2 -->
<div class="py-24">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
        <div class="lg:col-span-7">
            <div class="mb-12 lg:mb-0 xl:mr-14">
                <img class="inline" src="images/eduardo-soares-utWyPB8_FU8-unsplash.jpg" alt="alternative" />
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-5">
            <div class="xl:mt-12">
                <h2 class="mb-6">Instant results for the marketing department</h2>
                <ul class="list mb-7 space-y-2">
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>Features that will help you and your marketers</div>
                    </li>
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>Smooth calculation curve due to the knowledge base</div>
                    </li>
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>Real time management calculation</div>
                    </li>
                </ul>
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of container -->
</div>
<!-- end of details 2 -->
<!-- Details Lightbox -->
<!-- Lightbox -->
<div id="details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-8">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="lg:col-span-8">
            <div class="mb-12 text-center lg:mb-0 lg:text-left xl:mr-6">
                <img class="inline rounded-lg" src="images/fabian-blank-pElSkGRA2NU-unsplash.jpg" alt="alternative" />
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-4">
            <h3 class="mb-2">Goals Setting</h3>
            <hr class="w-11 h-0.5 mt-0.5 mb-4 ml-0 border-none bg-indigo-600" />
            <p>The app can easily help you track your personal development evolution if you take the time to set it up.</p>
            <h4 class="mt-7 mb-2.5">User Feedback</h4>
            <p class="mb-4">This is a great app which can help you save time and make your live easier. And it will help improve your productivity.</p>
            <ul class="list mb-6 space-y-2">
                <li class="flex">
                    <i class="fas fa-chevron-right"></i>
                    <div>Splash screen panel</div>
                </li>
                <li class="flex">
                    <i class="fas fa-chevron-right"></i>
                    <div>Statistics graph report</div>
                </li>
                <li class="flex">
                    <i class="fas fa-chevron-right"></i>
                    <div>Events calendar layout</div>
                </li>
                <li class="flex">
                    <i class="fas fa-chevron-right"></i>
                    <div>Location details screen</div>
                </li>
                <li class="flex">
                    <i class="fas fa-chevron-right"></i>
                    <div>Onboarding steps interface</div>
                </li>
            </ul>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- end of details lightbox -->
<!-- Details 3 -->
<div class="pt-16 pb-12">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
        <div class="lg:col-span-5">
            <div class="mb-16 lg:mb-0 xl:mt-16">
                <h2 class="mb-6">Platform integration and life time free updates</h2>
                <p class="mb-4">
                    Get a glimpse of what this app can do for your marketing automation and understand why current users are so excited when using Pavo
                    together with their teams.
                </p>
                <p class="mb-4">We will promptly answer any questions and honor your requests based on the service level agreement</p>
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-7">
            <div class="ml-14">
                <img class="inline" src="images/iryna-tysiak-kRaH720CCRE-unsplash.jpg" alt="alternative" />
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of container -->
</div>
<!-- end of details 3 -->
<!-- Statistics -->
<div class="counter">
    <div class="container px-4 sm:px-8">

        <!-- Counter -->
        <div id="counter">
            <div class="cell">
                <div class="counter-value number-count" data-count="231">21</div>
                <p class="counter-info">Happy Users</p>
            </div>
            <div class="cell">
                <div class="counter-value number-count" data-count="385">51</div>
                <p class="counter-info">Issues Solved</p>
            </div>
            <div class="cell">
                <div class="counter-value number-count" data-count="159">43</div>
                <p class="counter-info">Good Reviews</p>
            </div>
            <div class="cell">
                <div class="counter-value number-count" data-count="127">13</div>
                <p class="counter-info">Case Studies</p>
            </div>
            <div class="cell">
                <div class="counter-value number-count" data-count="211">20</div>
                <p class="counter-info">Incomes Received</p>
            </div>
        </div>
        <!-- end of counter -->

    </div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of statistics -->
<!-- Testimonials -->
<div class="slider-1 py-32 bg-gray">
    <div class="container px-4 sm:px-8">
        <h2 class="mb-12 text-center lg:max-w-xl lg:mx-auto">What do users think about SavingsTarget</h2>

        <!-- Card Slider -->
        <div class="slider-container">
            <div class="swiper-container card-slider">
                <div class="swiper-wrapper">

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="images/testimonial-3.jpg" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">It's been so fun to work with SavingsTarget, I've managed to integrate it properly into my business flow and it's great</p>
                                <p class="testimonial-author">Jude Thorn - Designer</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="images/testimonial-2.jpg" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">We were so focused on launching as many campaigns as possible that we've forgotten to target our loyal customers</p>
                                <p class="testimonial-author">Roy Smith - Developer</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="images/testimonial-1.jpg" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">I've been searching for a tool like SavingsTarget for so long. I love the reports it generates and the amazing high accuracy</p>
                                <p class="testimonial-author">Marsha Singer - Marketer</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src=images/testimonial-4.jpg" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">We've been waiting for a powerful piece of software that can help businesses manage their marketing projects</p>
                                <p class="testimonial-author">Tim Shaw - Engineer</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="images/testimonial-5.jpg" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">Saving and income calculation was difficult but thankfully I found app suite quickly</p>
                                <p class="testimonial-author">Lindsay Spice - Marketer</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <div class="card">
                            <img class="card-image" src="images/testimonial-6.jpg" alt="alternative" />
                            <div class="card-body">
                                <p class="italic mb-3">The app support team is amazing. They've helped me with some incomes calculation and I am so grateful to the entire team</p>
                                <p class="testimonial-author">Ann Blake - Investors</p>
                            </div>
                        </div>
                    </div> <!-- end of swiper-slide -->
                    <!-- end of slide -->

                </div> <!-- end of swiper-wrapper -->
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->

            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
        <!-- end of card slider -->

    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->
<!-- Footer -->
<div class="footer">
    <div class="container px-4 sm:px-8">
        <h4 class="mb-8 lg:max-w-3xl lg:mx-auto">SavingsTarget is a mobile application that helps your affordability with our easy-to-use tool <a class="text-indigo-600 hover:text-gray-500" href="mailto:email@domain.com">email@domain.com</a></h4>
        <div class="social-container">
            <span class="fa-stack">
                <a href="#your-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                    </svg>
                </a>
            </span>
            <span class="fa-stack">
                <a href="#your-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15" />
                    </svg>
                </a>
            </span>
            <span class="fa-stack">
                <a href="#your-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                    </svg>
                </a>
            </span>
        </div> <!-- end of social-container -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->
<!-- Copyright -->
<div class="copyright">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-3">
        <p class="pb-2 p-small statement">Copyright ©2024 <a href="#your-link" class="no-underline">SavingsTarget </a></p>
    </div>

    <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->
@code{
    private IJSObjectReference _jSObject;

    protected override async Task OnInitializedAsync()
    {
       _jSObject = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/swiper.min.js");
        await _jSObject.InvokeVoidAsync("initializeSwiper");
    }
}

@* <script src="/js/jquery.min.js"></script> <!-- jQuery for JavaScript plugins -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="/js/scripts.js"></script> <!-- Custom scripts --> *@
